<div class="container">

  <h2>Course Booking CRUD</h2>

  <!-- FORM -->
  <form
    [formGroup]="bookingForm"
    (ngSubmit)="saveBooking()"
  >

    <!-- <div class="form-group">

      <label>Intake ID</label>

      <input
        type="number"
        formControlName="intakeId"
        class="form-control"
      >

    </div> -->

    <div class="form-group">

  <label>Course Intake</label>

  <select
    formControlName="intakeId"
    class="form-control"
  >

    <option value="">
      Select Course
    </option>

    <option
      *ngFor="let intake of courseIntakes"
      [value]="intake.id"
    >

      {{ getCourseDetails(intake.id) }}

    </option>

  </select>

</div>

<div class="form-group">

  <label>Student</label>

  <input
    type="text"
    class="form-control"
    placeholder="Search by name or admission number"
    [(ngModel)]="searchStudent"
    [ngModelOptions]="{standalone: true}"
  >

  <div
    *ngIf="filteredStudents().length"
    class="student-list"
  >

    <div
      *ngFor="let student of filteredStudents()"
      class="student-item"
      (click)="selectStudent(student)"
    >

      {{ student.admino }}
      -
      {{ student.name }}

    </div>

  </div>

</div>



    <div class="button-group">

      <button
        type="submit"
        class="btn btn-primary"
      >
        {{ editingId ? 'Update' : 'Save' }}
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="resetForm()"
      >
        Reset
      </button>

    </div>

  </form>

  <hr>

  <!-- TABLE -->
  <!-- <table class="table table-bordered"> -->
<div *ngIf="!pageReady">
  Loading...
</div>

<table
  *ngIf="pageReady"
  class="table table-bordered"
>

    <thead>

      <tr>

        <th>ID</th>

        <th>Intake ID</th>

        <th>Student ID</th>

        <th>Created At</th>

        <th>Updated At</th>

        <th width="200">Actions</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let booking of bookings">

        <td>{{ booking.id }}</td>

        <!-- <td>{{ booking.intakeId }}</td> -->

      <td>
        {{ getCourseDetails(booking.intakeId) }}
      </td>

        <!-- <td>{{ booking.studId }}</td> -->
      <td>
        {{ getStudentName(booking.studId) }}
      </td>

        <td>{{ booking.createdAt }}</td>

        <td>{{ booking.updatedAt }}</td>

        <td>

          <button
            class="btn btn-warning btn-sm"
            (click)="editBooking(booking)"
          >
            Edit
          </button>

          <button
            class="btn btn-danger btn-sm"
            (click)="deleteBooking(booking.id)"
          >
            Delete
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
