<div class="page-wrapper">
  <div class="content-card">

    <h2 class="title">Payment Management</h2>

    <!-- SUCCESS -->
    <div *ngIf="successMessage" class="success-msg">
      {{ successMessage }}
    </div>

    <!-- ERROR -->
    <div *ngIf="errorMessage" class="error-box">
      {{ errorMessage }}
    </div>


    <!-- TABLE -->
    <div class="table-section">
      <table class="custom-table">

        <thead>
          <tr>
            <th>ID</th>
            <th>AdminNo</th>
             <th>StudentId</th>
             <th>RoomId</th>
            <th>Control</th>

            <th>Save</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of payments; let i = index">

  <td>{{ i+1 }}</td>

  <!-- <td>{{ p.hostelbookingId }}</td> -->
   <td>{{ getStudentNameByBooking(p.hostelbookingId).admino }}</td>
   <td>{{ getStudentNameByBooking(p.hostelbookingId).name }}</td>


       <!-- ROOM ID -->
   <td>{{ getHostelNameByBooking(p.hostelbookingId) }}</td>

  <!-- CONTROL NUMBER INPUT -->
  <td>
    <input
      type="text"
      [(ngModel)]="p.controlNumber"
      [ngModelOptions]="{standalone: true}"
      class="form-control" style="max-width:130px"
      placeholder="Enter Control Number"
    >
  </td>



  <td>
<button
  class="save-btn"
  (click)="saveControlNumber(p)"
>
  Save
</button>
  </td>

</tr>

        </tbody>

      </table>
    </div>

  </div>
</div>
